a {
    color:cornsilk;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
  }
  
 
  
  footer {
    background-color:#042D55!important;   
    color: white;
     height: 200px!important;
    max-width: 100%!important;
  }
