:root {
  --primary-blue: #010051;
  --primary-green: #46F2B6;
}

body {
    padding-top:68px;
    color: var(--primary-blue);
}

a {
    color: var(--primary-blue);
}



main.container {
    min-height: calc(100vh - 250px);
    margin-top:1rem;
}

.section.home {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background: var(--primary-green) url(../images/section_bg.png) no-repeat center;
    background-position-x: calc(50% + 700px/2);
    background-size: 700px;
}

.section h1, .section p {
    font-family: 'Lora', serif;
    color: var(--primary-blue);
}

.section h1 {
    font-weight: bold;
    font-size: 48px;
}

.section p {
    font-weight: 400;
}

.flash-container {
    position: fixed;
    z-index: 10001;
    top:60px;
    left: 0;
    right: 0;
    padding: 20px;
    height: min-content !important;
}

.artist-details {
    margin-top: 2rem;
}

.artist-details img {
    width: 100%;
    object-fit: cover;
    max-height: 100%;
    padding:1rem;
    border-radius:1.3rem;
}
.artist-details h1 {
    font-family: 'Lora', serif;
    color: var(--primary-blue);
    font-weight: 700;
}

.embed {
    height: 100vh !important;
}
.embed *{
    height: 100vh !important;
}

.form-group {
    margin-bottom:1rem;
}