a {
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
  }

  footer {
    background-color:var(--primary-blue);
    color: white;
     height: 200px!important;
    max-width: 100%!important;
  }
