
.home-container h1 {
    position: absolute;
    left:0;
    text-align: center;
    width: 100%;
    top: 43%;
    color: var(--primary-green);
}
.home-container h1.white {
    color:white;
}

  .button1 {
  position: absolute;
    left: 50%;
    top: 50%;
    padding: 1rem;
    width: 15rem;
    text-align: center;
    color: var(--primary-green);
    border: var(--primary-green) solid 0.2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
    border-radius: 5px 20px 5px;

  }
  .button1.white {

    color: white;
    border: #fff solid 0.2rem;
  }
  .button1:hover{
      background-color: var(--primary-green);
      color: white;
  }
  .button1.white:hover{
    background-color: var(--primary-blue);
    color: var(--primary-green);
  }

  
  .split.left .button:hover {
    background-color: var(--primary-blue);
    border-color: var(--primary-green)
  }
  
  .split.right .button:hover {
    background-color: var(--primary-green);
    border-color: white;
  }
  
  .container.home-container {
      padding-top: none!important;
    width: 100%;
    height: 100%;

  }
  .img{
      position: absolute;
      top: 30%;
      z-index: 1;
      
  }
  
  .split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  
  .split.left {
    left:0;
    background: url('/files/images/chopinbg.jpg') center center no-repeat;
    background-size: cover;
  }
  
  .split.left:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary-blue);
  }
  
  .split.right {
    right:0;
    background-size: cover;
  }
  
  .split.right:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary-green);
    background-image: url('/files/images/note.png') ;
    background-size:cover ;
  }
  
  .split.left, .split.right, .split.right:before, .split.left:before {
    transition: 1000ms all ease-in-out;
  }
  
  .hover-left .left {
    width: 55%;
  }
  
  .hover-left .right {
    width: 45%;
  }
  
  
  
  .hover-right .right {
    width:55%;
  }
  
  .hover-right .left {
    width: 45%;
  }
  
  
#title{
  position: absolute;
  top:10%;
  left: 40%;
  z-index: 1;
}